pre {font-size: 20px}

body{
	background:black;
	font-family: 'PT Mono', monospace;
	color: white;
}

body.darkmode {
	background: red;
	color: black;
}

.content {
	flex:2;
	padding: 1
}

a {
	/*margin-right: 20px;*/
	/*text-decoration: none;*/
	color:orange;

	display: block;
	margin: auto;
	font-family: 'Goblin One', cursive;
	/*font-family: 'Anton', sans-serif;*/
	color:white;
	font-size: 30px;
	width: 500px;
   /* height: 600px;*/
    text-align: center;
    padding: 1em 0;
  	border: 3px solid white;
  	font-size:45px;

}

.web {font-size: 100px;}

a:hover{

}
 
.flex-container{
  display: flex;
}

/*.homelink{
	display: block;
	margin: auto;
	font-family: 'Faster One', cursive;
	/*font-family: 'Anton', sans-serif;*/
	color:white;
	font-size: 30px;
	width: 500px;
   /* height: 600px;*/
    text-align: center;
    padding: 1em 0;
  	border: 3px solid white;
  	font-size:45px;

  }*/


.projects {
	display: flex;
}

.projects li{
	list-style-type: none;
	background: blue ;
	/*margin: 100p*/x
	width: 90px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;

	/*border-radius: 50%;*/
}

img {
	width: 50%;
}


.poster{
 	background-size: contain;
  	background-repeat: no-repeat;
  	height: 500px;
}

/*.poster:hover{
  background: none;
}
.poster:hover figcaption{
  visibility: visible;
}
*/
.me {
	flex: 2;
	background-image: url('img/me.jpg');
}
