.square {
  height: 50px;
  width: 50px;
  background-color: #100; 
  float: left;top: 50px
  /*margin: 10px;*/
}

.square-r {
  height: 50px;
  width: 50px;
  background-color: #100;
  /*margin: 10px;*/
  position: absolute;
  float:left;
  top: 50px} 