.square {
  height: 150px;
  width: 50px;
  background-color: #100;
  position: absolute;
  left:0px; top: 50px 
  /*margin: 10px;*/
}

.square2 {
  height: 50px;
  width: 150px;
  background-color: #100;
  position: absolute;
  left:50px; top: 0px 
  /*margin: 10px;*/
}

.square3 {
  height: 50px;
  width: 150px;
  background-color: #100;
  position: absolute;
  left:50px; top: 200px 
  /*margin: 10px;*/
}

.square4 {
  height: 50px;
  width: 50px;
  background-color: #100;
  position: absolute;
  left:200px; top: 150px 
  /*margin: 10px;*/
}

.square5 {
  height: 50px;
  width: 50px;
  background-color: #100;
  position: absolute;
  left:150px; top: 150px 
  /*margin: 10px;*/
}

.square6 {
  height: 50px;
  width: 50px;
  background-color: #100;
  position: absolute;
  left:200px; top: 50px 
  /*margin: 10px;*/
}
