.square {
  height: 50px;
  width: 250px;
  background-color: #100;
  position: absolute;
  left:0; top: 0 
 
}

.leg {
  height: 250px;
  width: 50px;
  background-color: #100;
  position: absolute;
  left:100px; top: 0 
 
}
/*.square-right {
  height: 250px;
  width: 50px;
  background-color: #100;
  position: absolute;
  left:200px; top: 0 
 
}

.bar {
  height: 50px;
  width: 200px;
  background-color: #100;
  position: absolute;
  left:0px; top: 80px 
}*/