
*body {background-image: url(img/chek.jpg);*/}

h1{color: white}

.square {
  height: 50px;
  width: 3000px;
  background-color: blue;
}

.flex-container{
  display: flex;
}

.poster{
 	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
	background-position: center 
}

.content {flex:2;
padding: 1}

.merc {background-image: url('img/merc.jpg');
	flex :2;}

.dbr1 {background-image: url('img/dbr1.jpg');
	flex :2;}

.f40 {background-image: url('img/f40.jpg');

	flex :2;}

.p917 {background-image: url('img/p917.jpg');
	flex: 2;}
.gt40 {background-image: url('img/gt40.jpg');
	flex: 2; }
.

.m26 {background-image: url('img/m26.jpg');
	/*flex :2;*/}

.gt250 {background-image: url('img/gt250.jpg');
	/*flex :2;*/}

.test {background-image: url('img/test.jpg');
	/*flex :2;*/}

.s550 {background-image: url('img/s550.jpg');
	/*flex :2;*/}

.got {background-image: url('img/got.jpg');
	/*flex :2;*/}

.db4 {background-image: url('img/db4.jpg');
	/*flex :2;*/}

.gt250 {background-image: url('img/gt250.jpg');
	/*flex :2;*/}

.gto250 {background-image: url('img/gto250.jpg');
	/*flex :2;*/}

.xkss {background-image: url('img/xkss.jpg');
	/*flex :2;*/}

.xk120 {background-image: url('img/xk120.jpg');
	/*flex :2;*/}

.alfa33 {background-image: url('img/alfa33.jpg');
	/*flex :2;*/}

.Oldsmobile {background-image: url('img/Oldsmobile.jpg');
	/*flex :2;*/}

.car{
	margin-bottom: 5rem;
}

.special{
	color: red;
}