.square {
  height: 250px;
  width: 50px;
  background-color: #100;
  position: absolute;
  left:0; top:0
 
}

.right1 {
  height: 50px;
  width: 50px;
  background-color: #100;
  position: absolute;
  left:50px; top: 80px 
 
}

.right2 {
  height: 50px;
  width: 50px;
  background-color: #100;
  position: absolute;
  left:100px; top: 130px 
 
}


.right3 {
  height: 70px;
  width: 50px;
  background-color: #100;
  position: absolute;
  left:150px; top: 180px 
 
}

.right4 {
  height: 50px;
  width: 50px;
  background-color: #100;
  position: absolute;
  left:100px; top: 30px 
 
}

.right5 {
  height: 30px;
  width: 50px;
  background-color: #100;
  position: absolute;
  left:150px; top: 0px 
 
}



/*.leg2 {
  height: 50px;
  width: 250px;
  background-color: #100;
  position: absolute;
  left:0; top: 100px 
 
}

*/