.square {
  height: 200px;
  width: 50px;
  background-color: #100;
  position: absolute;
  left:0; top: 0 
  /*margin: 10px;*/
}
 

.square2 {
  height: 50px;
  width: 100px;
  background-color: #100;
  position: absolute;
  left:75px; top: 200px 
  /*margin: 10px;*/
}

.square3 {
  height: 200px;
  width: 50px;
  background-color: #100;
  position: absolute;
  left:200px; top: 0px 
  /*margin: 10px;*/
}

.square4 {
  height: 50px;
  width: 50px;
  background-color: #100;
  position: absolute;
 left:50px; top: 150px 
  
}

.square5 {
  height: 50px;
  width: 50px;
  background-color: #100;
  position: absolute;
 left:150px; top: 150px 
  /*margin: 10px;
}*/

